st.alpha: 1
st.alphaOffset: 0.0

st.font:		RobotoMono Nerd Font:style:bold:pixelsize=18:antialias=true:autohint=true
! Base16 Green Screen
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #001100
#define base01 #003300
#define base02 #005500
#define base03 #007700
#define base04 #009900
#define base05 #00bb00
#define base06 #00dd00
#define base07 #00ff00
#define base08 #007700
#define base09 #009900
#define base0A #007700
#define base0B #00bb00
#define base0C #005500
#define base0D #009900
#define base0E #00bb00
#define base0F #005500

*.foreground:   base05
#ifdef background_opacity
*.background:   [background_opacity]base00
#else
*.background:   base00
#endif
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05
*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06



! *.font:	AcPlus IBM VGA 9x16:pixelsize=16
! *.font:	BmPlus IBM VGA 8x16:pixelsize=16


! st.termname: st-256color
! st.borderpx: 2

! gruvbox
! *.color0: #1d2021
! *.color1: #cc241d
! *.color2: #98971a
! *.color3: #d79921
! *.color4: #458588
! *.color5: #b16286
! *.color6: #689d6a
! *.color7: #a89984
! *.color8: #928374
! *.color9: #fb4934
! *.color10: #b8bb26
! *.color11: #fabd2f
! *.color12: #83a598
! *.color13: #d3869b
! *.color14: #8ec07c
! *.color15: #ebdbb2
! *.background: #282828
! *.foreground: white
! *.cursorColor: white

! Matrix
! st.color0:  #0a0f0a
! st.color1:  #0f3010
! st.color2:  #00ff66
! st.color3:  #00cc55
! st.color4:  #00aa44
! st.color5:  #00bb55
! st.color6:  #00ee66
! st.color7:  #aaffcc

! st.color8:  #004422
! st.color9:  #00aa55
! st.color10: #33ff88
! st.color11: #00ff55
! st.color12: #44ff99
! st.color13: #22dd77
! st.color14: #66ffbb
! st.color15: #ccffdd

! st.background:  #000b00
! st.foreground:  #00ff55
! st.cursorColor: #00ff66
